* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
  color: #fff;
}

/* PERSONALIZAR CORES */
body {
  background-color: #0e1129;
  padding: 2rem;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
}